.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .footer .container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 72px 24px;
    padding: 0 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer .container {
    flex-wrap: unset;
    gap: unset;
    padding: 0 15px;
  }
}

.footer-description {
  font-weight: 400;
  color: #f4f4fd;
}

.logo-foot {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: block;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-content {
    align-items: flex-start;
    max-width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-content {
    margin-right: 120px;
  }
}

.footer-socialmedia {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-socialmedia {
    align-items: flex-start;
  }
}

.footer-socials {
  color: #fff;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}
.footer-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  background-color: #31d0aa;
}

.footer-subsribe {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .footer-subsribe {
    align-items: flex-start;
    justify-content: center;
    max-width: 453px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-subsribe {
    margin-left: auto;
  }
}

.footer-subsribe-title {
  color: #fff;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.footer-email-stroke {
  width: 100%;
}

.footer-email {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-email {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #fff;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .footer-email {
    width: 264px;
  }
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  max-width: 165px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-send {
  margin-left: 16px;
}

.footer-email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-email:focus {
  border-color: #31d0aa;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #31d0aa;
}
